[submodule "application/modules/traz-comp-form"]
	path = application/modules/traz-comp-form
	url = https://github.com/Trazalog/traz-comp-formularios.git
[submodule "application/modules/traz-comp-bpm"]
	path = application/modules/traz-comp-bpm
	url = https://github.com/Trazalog/traz-comp-bpm.git
[submodule "application/modules/traz-comp-tareasestandar"]
	path = application/modules/traz-comp-tareasestandar
	url = https://github.com/Trazalog/traz-comp-tareasestandar
[submodule "application/modules/traz-comp-calendar"]
	path = application/modules/traz-comp-calendar
	url = https://github.com/Trazalog/traz-comp-calendar.git
