.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

application/config/constants.php

assets/koolreport_assets/1355195728/googlechart.js

assets/koolreport_assets/1686042427/jquery-ui.min.js

assets/koolreport_assets/1686042427/jquery.min.js

assets/koolreport_assets/2946825544/table.css

assets/koolreport_assets/2946825544/table.js

assets/koolreport_assets/4007379878/KoolReport.js

assets/koolreport_assets/4007379878/KoolReport.subReport.js

lib/bower_components/bootstrap-datepicker.rar
